@page
@model BiblioTech.Pages.adminModel
@{
}
<div class="container h-100">
  <div class="d-flex justify-content-md-center text-center align-items-center middle">
		<p>Gérer<br />Votre<br />BiblioTech</p>
  </div>     
 </div> 