@page
@model BiblioTech.Pages.Blog.WriteModel
@{
}
<form method="Post">
    <div class="form-group">
        <label>Titre:</label>
        <input type="text" class="form-control" name="Titre" placeholder="Titre">
    </div>
    <div class="form-group">
        <label>Text:</label>
        <textarea type="text" class="form-control" name="Para" ></textarea>
    </div>
    <div class="form-group">
        <label>Image url:</label>
        <input type="text" class="form-control" name="Imgpath" placeholder="Image">
    </div>
    <small class="form-text h3 text-danger">@Model.Errormessage</small>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>