@page
@model PrivacyModel
@{
    ViewData["Title"] = "BiblioTech";
}
<h1><img width="40" src="~/logo.png" />@ViewData["Title"]</h1>

<p class="about">
    Bienvenue à Bibliotech, votre refuge littéraire où les mots prennent vie et les histoires se dévoilent. Fondée avec une passion dévorante pour la littérature, Bibliotech s'érige comme un sanctuaire pour les amoureux des livres, un lieu où l'esprit s'égare à travers les pages, où l'imagination prend son envol.<br />

    Notre bibliothèque est bien plus qu'un simple amas de livres. C'est un univers enchanté, un endroit où les découvertes érudites rencontrent la magie des récits. Nous abritons une collection soigneusement sélectionnée, allant des classiques intemporels aux œuvres contemporaines les plus captivantes.<br />

    Chez Bibliotech, nous croyons en la puissance des mots pour inspirer, éduquer et divertir. Notre équipe dévouée est composée de passionnés de la littérature, prêts à vous guider dans votre quête de la prochaine aventure littéraire. Que vous soyez un lecteur assidu à la recherche de nouvelles pépites ou un curieux explorateur du monde des livres, Bibliotech est votre complice littéraire idéal.<br />

    Nous sommes bien plus qu'une simple bibliothèque ; nous sommes une communauté unie par notre amour pour la lecture. Des événements littéraires excitants, des clubs de lecture stimulants et des discussions animées vous attendent ici, créant un espace dynamique où les idées fleurissent et les amitiés littéraires se forment.<br />

    Plongez dans l'univers infini de Bibliotech, où chaque page tournée est une aventure, chaque livre est une porte vers un monde inexploré. Rejoignez-nous dans cette odyssée littéraire, car chez Bibliotech, les histoires deviennent éternelles.

    Bienvenue chez Bibliotech, votre portail vers l'extraordinaire monde des livres.
</p>
