@page
@model BiblioTech.Pages.SignupModel
@{
}
<script>
    function isused(mail) {

        fetch("/api/v1/emailused?email=" + mail.value)
            .then((res) => res.text())
            .then((data) => {

                if(data=="true")
                {
                    mail.className = "form-control is-invalid";
                }
                else{
                    mail.className = "form-control is-valid";
                }
             })
            /*
         res.json())
        .then((data) => {
            console.log(data)
        })
        .catch((err) => console.log(err));
            body: JSON.stringify({
                'email': mail
            }),
                   */
    }
</script>
<form method="post" class="login w-50">
    <fieldset>
        <legend>Sign up</legend>
        <div class="form-group">
            <label class="form-label mt-4">Nom:</label>
            <input type="text" class="form-control" value="@Model.nom" name="nom" placeholder="Nom">
        </div>
        <div class="form-group">
            <label  class="form-label mt-4">Email address:</label>
            <input type="text" class="form-control" onchange="isused(this)" value="@Model.email" name="email" placeholder="Email">
            <small class="invalid-feedback h1">Email Deja utilise</small>
        </div>
        <div class="form-group">
            <label  class="form-label mt-4">Mot de Passe:</label>
            <input type="password" class="form-control" placeholder="Mot de Passe" name="password" autocomplete="off">
        </div>
        <small class="form-text h3 text-danger">@Model.Errormessage</small>
        <button type="submit" class="btn btn-success">Sign up</button>
    </fieldset>
</form>
