@page
@model BiblioTech.Pages.Admin.Category.EditModel
@{
}
<form method="Post">
    <div class="form-group">
        <label >Nom:</label>
        <input type="text" class="form-control" value="@Model.cat.name" name="Nom" placeholder="Nom">
    </div>
    <div class="form-group">
        <label >Description:</label>
        <input type="text" class="form-control" value="@Model.cat.descr" name="Description" aria-describedby="emailHelp" placeholder="Description">
    </div>
    <input type="hidden" class="form-control" value="@Model.cat.id" name="id" placeholder="Adresse">
    <small class="form-text h3 text-danger">@Model.Errormessage</small>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>